/* Playground
- move table down about midway through page
- figure out if there's a way to get table's lines to look connected, instead of like individual boxes
*/

body { background-image: url(./assets/sun_moon_cycle.gif)}

h1 {
    font-family: sans-serif;
    text-align: center;
}

table {
    border: solid black 20px;   
    width: 100px;
}

th, td{
    border: 2px;
    border-style:dotted;
}